html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: beige;

  &__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
