.whatWeDo {
  --whatWeDoTitleFontSize: 4.5rem;
  margin-top: 15rem;
  display: flex;
  flex-direction: row;
  min-height: 200vh;

  &__title {
    font-size: var(--whatWeDoTitleFontSize);
    color: var(--colorLapisLazuli);
    width: 40%;
    margin: 0;
  }

  &__cards {
    position: absolute;
    margin-right: 26.625rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 100px;
  }
}

@media (max-width: 1286px) {
  .whatWeDo {
    &__cards {
      margin-right: 0;
    }
  }
}

@media (max-width: 987px) {
  .whatWeDo {
    &__title {
      padding-left: 2rem;
    }
    &__cards {
      gap: 0;
    }
  }
}

@media (max-width: 887px) {
  .whatWeDo {
    --whatWeDoTitleFontSize: 4rem;

    &__title {
      width: 80%;
    }

    &__cards {
      align-items: center;
      justify-content: center;

      margin-top: 30rem;
      // flex-wrap: nowrap;
      width: 100%;
    }
  }
}
