.card {
  --cardTitleColor: var(--colorYaleBlue);
  --cardDescriptionColor: var(--colorBlueGray);
  display: flex;
  flex-direction: column;
  width: 37.5rem;
  height: 100%;
  margin: 0 2rem;
  padding: 6rem;
  border-radius: 1.25rem;
  -webkit-box-shadow: 0px 6px 21px 10px rgba(100, 181, 246, 0.2);
  -moz-box-shadow: 0px 6px 21px 10px rgba(100, 181, 246, 0.2);
  box-shadow: 0px 6px 21px 10px rgba(100, 181, 246, 0.2);

  &:first-child {
    margin-top: 308px;
  }

  &:last-child {
    margin-top: -250px;
  }

  &__img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 7rem;
  }

  &__title {
    font-size: 2.5rem;
    color: var(--cardTitleColor);
    font-family: "Gilroy-Semibold";
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 2rem;
    font-family: "Gilroy-Regular";
  }

  &__btn {
    display: flex;
    gap: 3rem;
    width: 40%;
    font-size: 1.75rem;
    text-decoration: none;
    color: var(--cardDescriptionColor);
    margin-top: 5rem;
  }
}
