.clientsGrid {
  --clientsGridBorderColor: rgba(235, 235, 235, 0.5);
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";
  width: 60%;
  height: 32rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 13.75rem;

  &__client {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 4rem 4rem;
    text-transform: uppercase;
    height: 128px;
    font-family: "Gilroy-Semibold";
    color: #fff;
    letter-spacing: 0.4px;

    &:nth-child(4) {
      border-bottom: 1px solid var(--clientsGridBorderColor);
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-right: 1px solid var(--clientsGridBorderColor);
      border-bottom: 1px solid var(--clientsGridBorderColor);
    }

    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      border-right: 1px solid var(--clientsGridBorderColor);
    }

    &:last-child {
      background-color: rgba(30, 62, 102, 0.2);
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: rgba(30, 62, 102, 0.5);
        transition: all 0.1s ease;
      }
    }
  }
}

@media (max-width: 1020px) {
  .clientsGrid {
    width: 90%;
  }
}

@media (max-width: 610px) {
  .clientsGrid {
    grid-template-areas: "item1 item2";

    &__client {
      &:nth-child(2),
      &:nth-child(6) {
        border: none;
        border-bottom: 1px solid var(--clientsGridBorderColor);
      }

      &:nth-child(5) {
        border-bottom: 1px solid var(--clientsGridBorderColor);
      }
    }
  }
}
