.header {
  --headerTextContentTitleFontSize: 5rem;
  --headerTextContentDescriptionFontSize: 2rem;
  --headerNavigationPadding: 5rem 10.375rem 0 10.375rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 82%,
    rgba(152, 195, 232, 0.4) 100%,
    rgba(152, 195, 232, 0.4) 100%
  );

  &__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--headerNavigationPadding);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__textContent {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      margin-top: 12.625rem;
      flex: 1;

      &__title {
        font-family: "Galien-Bold";
        font-size: var(--headerTextContentTitleFontSize);
        color: var(--colorYaleBlue);
        font-weight: bold;
        letter-spacing: 0.75rem;
      }

      &__description {
        font-size: var(--headerTextContentDescriptionFontSize);
        font-family: "Gilroy-Regular";
        width: 100%;
        color: var(--colorYaleBlue);
        opacity: 0.6;
      }

      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 6rem;
        background-color: var(--colorBlueGray);
        width: 27.5rem;
        border-radius: 1.25rem;
        color: #fff;
        font-size: var(--headerTextContentDescriptionFontSize);
        font-family: "Gilroy-Regular";
        text-decoration: none;
        margin-top: 10.75rem;
        -webkit-box-shadow: 6px 12px 22px -1px rgba(90, 152, 208, 0.2);
        -moz-box-shadow: 6px 12px 22px -1px rgba(90, 152, 208, 0.2);
        box-shadow: 6px 12px 22px -1px rgba(90, 152, 208, 0.2);
        transition: all 0.3s ease;

        &:hover {
          background-color: #7ca9cf;
          transition: all 0.1s ease;
        }
      }
    }

    &__imgContent {
      flex: 1;
      &__img {
        flex: 1;
        position: absolute;
        width: 60%;
      }
    }
  }
}

@media (max-width: 1140px) {
  .header {
    &__content {
      &__textContent {
        padding-left: 2rem;
      }
      &__imgContent {
        &__img {
          top: 20%;
          width: 40%;
        }
      }
    }
  }
}

@media (max-width: 745px) {
  .header {
    --headerTextContentTitleFontSize: 4rem;
  }
}

@media (max-width: 600px) {
  .header {
    --headerNavigationPadding: 5rem 3rem;
    &__content {
      &__textContent {
        align-items: center;

        &__title,
        &__description {
          width: 90%;
        }
      }

      &__imgContent {
        display: none;
      }
    }
  }
}

@media (max-width: 385px) {
  .header {
    &__content {
      &__textContent {
        &__btn {
          width: 40%;
        }
      }
    }
  }
}
